# Generate all figures

In [1]:
%load_ext autoreload
%autoreload 2

## ADSF

In [7]:
from src.data import data_manager
data_manager.get_connections()

               count                                                        \
dataset     Dataset1 Dataset2 Dataset3 Dataset4 Dataset5 Dataset6 Dataset7
pre   post
ADAL  AIAL         0        0        0        0        0        1        2
      AIBL         0        0        0        0        0        1        2
      AIBR         1        1        0        1        0        0        1
      AIZL         0        0        0        1        0        0        0
      ASHL         0        0        0        0        1        0        0
...              ...      ...      ...      ...      ...      ...      ...
URYVR RMDVL        1        1        1        2        3        3        5
      SIBDR        0        0        0        0        0        0        1
      SIBVL        0        0        0        0        0        0        1
      SIBVR        0        0        0        0        0        0        0
      SMDVL        1        4        2        2        5        2        2

                     num_post           ... sections              size  \
dataset     Dataset8 Dataset1 Dataset2  ... Dataset7 Dataset8 Dataset1
pre   post                              ...
ADAL  AIAL         0        0        0  ...      NaN        0        0
      AIBL         0        0        0  ...      NaN        0        0
      AIBR         0        2        3  ...      NaN        0    29644
      AIZL         0        0        0  ...      NaN        0        0
      ASHL         0        0        0  ...      NaN        0        0
...              ...      ...      ...  ...      ...      ...      ...
URYVR RMDVL        8        2        2  ...      NaN       38   218446
      SIBDR        1        0        0  ...      NaN        6        0
      SIBVL        2        0        0  ...      NaN       13        0
      SIBVR        1        0        0  ...      NaN        6        0
      SMDVL        4        3        8  ...      NaN       42   988460


dataset     Dataset2 Dataset3 Dataset4 Dataset5 Dataset6 Dataset7 Dataset8
pre   post
ADAL  AIAL         0        0        0        0    21784      NaN        0
      AIBL         0        0        0        0   165486      NaN        0
      AIBR     31602        0   295816        0        0      NaN        0
      AIZL         0        0    65048        0        0      NaN        0
      ASHL         0        0        0   196403        0      NaN        0
...              ...      ...      ...      ...      ...      ...      ...
URYVR RMDVL   499192   266377  1510007  1400825  1706249      NaN  2375652
      SIBDR        0        0        0        0        0      NaN    98609
      SIBVL        0        0        0        0        0      NaN   394077
      SIBVR        0        0        0        0        0      NaN   131805
      SMDVL  1705319  1572506  1699332  2095092  3206684      NaN  3329524

[3676 rows x 48 columns]